---
- name: Open defined firewall ports 
  hosts: all
  become: true
  tasks:
    - name: Ensure Firewalld host-specific ports are opened
      firewalld:
        port: "{{ item }}"
        permanent: true
        state: enabled
      with_items:
        - "{{ firewallports }}"
      when: firewallports is defined
      notify:
        - restart firewall
    - name: reload dynamically
      shell: firewall-cmd --reload
