---
- name: Copy resolv.conf to hosts and set to environment DNS
  template:
    src: resolv.conf.j2
    dest: /etc/resolv.conf
    backup: yes
    owner: root
    group: root
    mode: 0644
  tags:
    - dnsresolv
