#########################################################################
# {{ ansible_managed  }}
#########################################################################

search {{ ad_domain }}
nameserver {{ nameserver1 }}
nameserver {{ nameserver2 }}
nameserver {{ nameserver3 }}
nameserver {{ nameserver4 }}
