#########################################################################
# {{ ansible_managed  }}
#########################################################################

search {{ ad_domain }} {{ vmguest_domain }}
nameserver {{ nameserver1 }}
nameserver {{ nameserver2 }}
